* {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.meme-generator img {
  margin-top: 30px;
  height: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  border: none;
  padding: 8px 20px;
  background-color: blueviolet;
  margin: 24px 0;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  transition: all 300ms ease-in;
}

.meme-generator .generate-meme-btn:hover {
  background-color: black;
}

.meme-generator .meme-author {
  margin: 8px;
}
